{% extends "layout.html" %}
{% block content %}
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <th>id_tech</th>
        <th>site</th>
        <th>description</th>
        {% for result in results %}
            <tr>
                <td>{{ result['Id_tech']}}</td>
                <td>{{ result['site']}}</td>
                <td>{{ result['description']}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

